[submodule "extern/variant"]
	path = extern/variant
	url = https://github.com/mapbox/variant
[submodule "extern/json"]
	path = extern/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
